!!!
%html{ lang: I18n.locale }
  %head
    = render 'layouts/shared_head_tag'

  %body#main.browser_view{ class: body_classes(yield(:body_class)) }
    %header.navbar
      - unless Rails.env.cerberus?
        %div.flag-test test
      .container
        = render 'layouts/design_header'
    %section
      .container
        .row
          .col-md-12{:role => "main"}
            .row
              - if current_user.blank? || User::NO_LEFT_MENU_PAGES.include?([controller_name, action_name]) || current_user.merchendiser?
                .col-md-12
                  = render 'layouts/flash', fading: true
                  = application_render_breadcrumb
                  = yield
              - else
                .col-md-10.col-md-offset-2
                  = render 'layouts/flash', fading: true
                  = application_render_breadcrumb

                #nav-left.col-sm-2.navbar-collapse.collapse
                  .menu-title= t('.menu_title')
                  %ul.nav.left_menu{data: {controller_name: controller_name, action_name: action_name}}
                    -# NOTE FIXME нужно учесть, что некоторые пункты меню появляются и исчезают в зависимости от состояния аккаунтов подчиненных
                    = render 'left_menu/organizations'            if can? :organizations,       :left_menu
                    = render 'left_menu/observe'                  if can? :observe,             :left_menu
                    = render 'left_menu/lenta_item_menu'          if can? :lenta_item,          :left_menu
                    = render 'left_menu/qlik_menu'                if can? :qlick_statistics,    :left_menu
                    = render 'left_menu/questionaries_menu'       if can? :questionaries,       :left_menu
                    = render 'left_menu/team_menu'                if can? :team,                :left_menu
                    = render 'left_menu/locations_menu'           if can? :locations,           :left_menu
                    = render 'left_menu/planogram_bundles_menu'   if can? :planogram_bundles,   :left_menu
                    = render 'left_menu/ap_uploads_menu'          if can? :ap_uploads,          :left_menu
                    = render 'left_menu/admin_ap_uploads_menu'    if can? :admin_ap_uploads,    :left_menu
                    = render 'left_menu/ap_exports_menu'          if can? :ap_exports,          :left_menu
                    = render 'left_menu/scorecard_exports_menu'   if can? :scorecard_exports,   :left_menu
                    = render 'left_menu/admin_scorecards_menu'    if can? :admin_scorecards,    :left_menu
                    = render 'left_menu/routes_menu'              if can? :routes,              :left_menu
                    = render 'left_menu/calendar_menu'            if can? :calendar,            :left_menu
                    = render 'left_menu/clone_checkin_types_menu' if can? :clone_checkin_types, :left_menu
                    = render 'left_menu/kpi'                      if can? :kpi,                 :left_menu
                    = render 'left_menu/suspicious_apps'          if can? :suspicious_apps,     :left_menu
                    = render 'left_menu/businesses'               if can? :businesses,          :left_menu
                    = render 'left_menu/kpi_templates'            if can? :kpi_templates,       :left_menu
                    = render 'left_menu/deferred_jobs'            if can? :deferred_jobs,       :left_menu
                    = render 'left_menu/location_events'          if can? :location_events,     :left_menu
                    = render 'left_menu/photo_exports'            if can? :photo_exports,       :left_menu

                .col-sm-10
                  #content
                    .page_title.new-design= yield(:page_title) if content_for?(:page_title)
                    = yield
    = render 'layouts/footer'

    = render 'layouts/yandex_metrika' if Rails.configuration.is_customers_host
    = javascript_include_tag "application"
    = javascript_pack_tag 'application'
    = render 'layouts/configure_test_env' if Rails.env.test?
